# Connect to mySQL database

In [1]:
import os
import pymysql
import pandas as pd

conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='sql4565', db='schema_from_excel')

In [2]:
df = pd.read_sql_query("SELECT * FROM CARTOON",
    conn)
df.tail(10)

   cartoon_id    name   type
0           1  mickey  mouse
1           2  donald   duck