# Connect to SQLite database

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql sqlite://

'Connected: @None'

In [9]:
%%sql CREATE TABLE CARTOON(firstname varchar(50),lastname varchar(50));
INSERT INTO CARTOON VALUES('daffy','duck');
INSERT INTO CARTOON VALUES('Mickey','Mouse');
SELECT * from CARTOON;

 * sqlite://
(sqlite3.OperationalError) table CARTOON already exists
[SQL: CREATE TABLE CARTOON(firstname varchar(50),lastname varchar(50));]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [19]:
%%sql
SELECT name FROM sqlite_master WHERE type='table' AND name='CARTOON';

 * sqlite://
Done.

[('CARTOON',)]

 * sqlite://
(sqlite3.OperationalError) near "SHOW": syntax error
[SQL: SHOW DATABASES]
(Background on this error at: http://sqlalche.me/e/e3q8)